__pycache__/
*.pyc

**/.ipython/
**/.cache/

**/.config/
**/.ipynb_checkpoints/
**/.jupyter/
**/.local/

*.png
*.csv       
!data/prrocessed/sst_monthly.csv
!data/processed/precip_monthly.csv
!data/processed/env.csv
!data/processed/indices_results.csv

outputs/

.DS_Store

scr/utils/*
!scr/utils/WQI_utils.py
!scr/utils/analysis_utils.py
!scr/utils/analysis_plots_utils.py
!scr/utils/plots_utils.py
!scr/utils/spatial_utils.py
!scr/utils/stack_loader.py

# =============================
# Notebooks: ignore all, allow core
# =============================
scr/notebooks/*
!scr/notebooks/WQI.ipynb
!scr/notebooks/WQI_spatial.ipynb
!scr/notebooks/WQI_precip_correlation.ipynb
!scr/notebooks/env.ipynb

